@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rowdies:wght@300;400;700&display=swap');

$black: #000;
$white: #fff;
$light-grey: #f0f0f0;
$grey: #ced4da;
$dark-grey: #575757;

