@import "global";

.preview{
  padding: 40px 15px;
  h6{
    padding-top: 10px;
  }
}
.text_wrapper{
  width: 100%;
  height: 240px;
  margin: 23px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $grey;
  position: relative;
  p{
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    word-break: break-all;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    margin: 0;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  & > div{
    display: none;
  }
}
.buttonCode, .buttonCompress{
  position: absolute;
  z-index: 200;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: $white;
  font-size: 14px;
  transition: .5s;
  top: 0;
  &:hover{
    transition: .5s;
    background: rgba(60, 60, 60, 0.8);
  }
}
.buttonCode{
  right: 0;
}
.buttonCompress{
  left: 0;
}
div.codeWrapper{
  background: $white;
  position: absolute;
  z-index: 100;
  opacity: 1;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pre{
   margin-bottom: 0;
   width: 100%;
  }
}
.label{
  font:600 1rem/1rem 'Lato', sans-serif;
}
.darkBtn{
  margin: 40px 0 30px;
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .5s;
  font-weight: 600;
  &:hover{
    transition: .5s;
    background: rgba(60, 60, 60, 0.8);
  }
}
.formColor {
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 2.2px;
  text-align: right;
}