@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Rowdies:wght@300;400;700&display=swap');

$black: #000;
$white: #fff;
$light-grey: #f0f0f0;
$grey: #7a7a7a;
$dark-grey: #575757;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, a{
  text-decoration: none;
  font-family: 'Rowdies', cursive;
  color: $black;
}

.navbar{
  background: $white;
  border-bottom: 1px solid $black;
  .navbar-brand{
    height: 40px;
  }
}
.main{
  height: calc(100vh - 103px);
  .nav.nav-tabs{
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $black;
    .nav-link{
      color: $black;
      font-weight: 400;
      padding-left: 30px;
      padding-right: 30px;
      &.active{
        background-color: transparent;
        border-color: transparent;
        font-weight: 500;
      }
      &:hover, :focus, :focus-visible{
       border-color: transparent;
       color: $grey;
      }
    }
  }
  .tab-content{
    .container{
      & > .row{
        & > div:nth-child(1){
          padding-top: 100px;
        }
        & > div{
          height: calc(100vh - 165px);
          .input-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding-bottom: 40px;
            p{
              text-align: center;
              display: block;
              font: 300 1.25rem/1.25rem 'Rowdies', cursive;;
            }
            .input-group {
              max-width: 200px;
              &.active{
                border: 3px solid $dark-grey;
                border-radius: 8px;
              }
              &:focus, :focus-visible, :focus-within{
                box-shadow: 0 0 0 0.25rem transparent;
                border-color: #ced4da;
              }
              .form-control{
                border-right: 1px solid $white;
              }
             span.input-group-text{
                background: #fff;
                border-left: 1px solid $white;
                font-weight: 300;
              }
            }
            & > div:nth-child(2){
              cursor: pointer;
            }
          }
          .text-wrapper{
            p{
              font: 400 1rem/1.125rem Lato, sans-serif;
              letter-spacing: 0.0625rem;
            }
          }
          table{
            margin-top: 15px;
            margin-bottom: 15px;
            th, td{
              font: 400 1rem/1.125rem Lato, sans-serif;
            }
            th {
              text-align: center;
              text-transform: capitalize;
              font-weight: 600;
            }
          }
        }
      }
    }

  }
}
footer{
  border-top: 1px solid $light-grey;
  a{
    font-weight: 300;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  div{
    width: max-content;
    display: block;
    margin: 10px auto;
   a{
      padding: 10px;
    }
  }
}