@import "global";

h1, h2, h3, h4, h5, h6, p, span, a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;

}
h2{
  text-align: center;
  font: 600 1.5rem/1.5rem 'Lato', sans-serif;
  margin-bottom: 30px;
}

h4{
  text-align: center;
  display: block;
  text-transform: capitalize;
  font: 600 1.25rem/1.25rem 'Lato', sans-serif;
}

h6{
  font: 600 1rem/1.4rem 'Lato', sans-serif;
}

.dark{
  background: $dark;

  h1, h2, h3, h4, h5, h6, p, span, a, .nav-link, label, table tr th, td{
    color: $white !important;
  }
  .navbar, .main .nav.nav-tabs, .main, button,  .table > :not(:first-child){
    border-color:  $white;
  }
}

.form-check-input, .input-group-lg, .input-group, .input-group-text, .form-select, button, .form-control{
  &:focus, :focus-visible, :focus-within{
    box-shadow: 0 0 0 0.25rem transparent !important;
    border-color: #ced4da ;
  }
}
.navbar{
  border-bottom: 1px solid $black;
  .navbar-brand{
    height: 40px;
    cursor: pointer;
  }
  .form-check{
    padding: 0 40px;
    .form-check-input{
      width: 3em;
      height: 1.5rem;
      border-color: $black;
      &:checked {
        background-color: $black;
      }
    }
  }
}

.main{
  min-height: calc(100vh - 103px);
  .nav.nav-tabs{
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $black;
    .nav-link{
      color: $black;
      font-weight: 400;
      padding-left: 30px;
      padding-right: 30px;
      letter-spacing: 1.2px;
      &.active{
        background-color: transparent;
        border-color: transparent;
        font-weight: 500;
      }
      &:hover, :focus, :focus-visible{
        border-color: transparent;
        color: $dark-grey;
      }
    }
  }

  .input-group-lg, .input-group, .input-group-text, .form-select, button, .form-control{
    border-radius: 0;
  }

  svg{
    margin-top: 28px;
  }

  .input-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
    .input-group {
      max-width: 260px;
      &.active{
        border: 2px solid #000;

      }
      .form-control{
        border-right: 1px solid $white;
      }
      span.input-group-text{
        background: #fff;
        border-left: 1px solid $white;
        font-weight: 600;
        padding:  0.5rem 1rem 0.5rem 0.5rem;
      }
    }
    & > div:nth-child(2){
      cursor: pointer;
    }
  }
  .tab-content{
    .container{
      & > .row{
        & > div:nth-child(1){
          padding: 40px 15px;
        }
        & > div{
          min-height: calc(100vh - 165px);

          .text-wrapper{
            p{
              font: 400 1rem/1.25rem Lato, sans-serif;
              letter-spacing: 0.0625rem;
              b{
                text-transform: capitalize;
              }
            }
          }

        }
      }
    }

  }
}
footer{
  border-top: 1px solid $light-grey;
  a{
    font-weight: 300;
    text-align: center;
    font-size: .8rem;
    letter-spacing: 1px;
  }
  div{
    width: max-content;
    display: block;
    margin: 0 auto;
    padding: 10px;
    a{
      padding: 10px;
    }
  }
}
.about, .contact{
  .row{
    & > div{
      min-height: calc(100vh - 103px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1{
        margin-bottom: 40px;
      }
    }
  }
}