.table{
  margin-top: 30px;
  margin-bottom: 15px;
  tr{
    th, td{
      font: 400 1rem/1.125rem Lato, sans-serif;
      padding: 10px 15px;
      cursor: pointer;
    }
    th {
      text-align: center;
      text-transform: capitalize;
      font-weight: 600;
    }
  }
}